.wrapper {
  display: flex;
  flex-direction: column;
}

.heading {
  display: block;
  font-size: 1.1rem;
  margin-right: 16px;
}

.headingWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.settingName {
  display: block;
  margin-bottom: 2px;
}

.settingName:not(:first-of-type) {
  margin-top: 16px;
}

.settingWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.settingWrapper:last-child {
  margin-bottom: 0;
}
