.wrapper {
  border: 1px solid var(--primary-muted);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.generatorName {
  display: block;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 1.5em;
}

.helpText {
  margin: 0;
}

.heading {
  display: block;
  font-size: 1.1rem;
  margin-top: 24px;
  margin-bottom: 16px;
}

.shareSection {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.shareSection > button {
  margin-top: 16px;
}

.settingName {
  display: block;
  margin-bottom: 8px;
}

.settingName:not(:first-of-type) {
  margin-top: 16px;
}

.settingWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.settingWrapper:last-child {
  margin-bottom: 0;
}
