@import '../../variables.css';

.generator {
  margin-top: 32px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.generator.vertical {
  flex-direction: column;
  align-items: stretch;
}

.canvas {
  display: none;
}

.fileInputs {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.fileInputsSpacer {
  width: 16px;
}

.randomButton {
  flex: 1;
}

.result {
  min-width: 0;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.placeholder {
  width: 100%;
}

.sidebar {
  flex: 1 0;
  min-width: 240px;
}

.downloadInstructions {
  border: 1px solid var(--primary-translucent);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.configurator {
  border: 1px solid var(--primary-translucent);
  border-radius: 8px;
  padding: 16px;
}

.configuratorTitle {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 24px;
}

.spacer {
  width: 32px;
}

@media screen and (max-width: 760px) {
  .generator {
    flex-direction: column;
    align-items: stretch;
  }
}
