@import '../../variables.css';

.navbar {
  background-color: #221627;
  margin-bottom: 16px;
  padding: 16px 32px;
}

.navbarContent {
  padding: 0 16px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.staticContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.homeLink {
  text-decoration: none;
  font-family: 'Fredoka One', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

.siteName {
  padding: 0;
  margin: 0;
}

.dropdown {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  color: unset;
  font-family: unset;
  font-size: unset;
  cursor: pointer;
}

.expandableSection {
  overflow: hidden;
  transition: max-height 0.25s;
}

.spacer {
  height: 16px;
}

.linkList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: #000000;
}

.link:not(:last-child) {
  margin-right: 8px;
}
