.generatorWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

.generatorWrapper.vertical {
  flex-direction: column;
  align-items: stretch;
}

.output {
  min-width: 0;
  flex: 1;
  width: 100%;
  height: auto;
}

.placeholder {
  flex: 1;
  width: 100%;
}

.spacer {
  width: 32px;
  height: 16px;
}

.sidebar {
  flex: 1;
  max-width: 300px;
  border: 1px solid var(--primary-muted);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.generatorName {
  display: block;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 1.5em;
}

.helpText {
  margin: 0;
}

.shareSection {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.shareSection > button {
  margin-top: 16px;
}

.altTextSection {
  border: 1px solid var(--primary-muted);
  border-radius: 8px;
  padding: 16px;
  margin-top: 16px;
}

.altTextTitle {
  display: block;
  font-size: 1.25rem;
  margin-right: 16px;
}

.altTextTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.altText {
  margin: 0;
}

@media screen and (max-width: 500px) {
  .generatorWrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .shareSection {
    flex-direction: column;
  }

  .shareSection > button {
    flex: 1;
    max-width: 100%;
  }
}
