.bigText {
  font-size: 1.75rem;
  margin-top: 0;
  font-weight: bold;
}

.subheading {
  margin-top: 64px;
}

.generatorList {
  list-style-type: none;
  margin: 32px 0 16px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.generatorLinkWrapper {
  border: 1px solid var(--primary-muted);
  border-radius: 8px;
  margin-bottom: 16px;
  margin-right: 8px;
}

.generatorLink {
  text-decoration: none;
  text-align: center;
}
