.settingName {
  display: block;
  margin-bottom: 8px;
}

.settingName:not(:first-of-type) {
  margin-top: 16px;
}

.stepperLabel {
  width: 40px;
  text-align: center;
}

.paletteWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
}

.palettePreview {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: min-content;
  margin: 0 16px;
}

.palettePreviewBlock {
  width: 16px;
  height: 16px;
}
