/* fredoka-one-regular - latin */
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/fredoka-one-v12-latin-regular.woff2') format('woff2'),
    url('/fonts/fredoka-one-v12-latin-regular.woff') format('woff');
}

/* eb-garamond-regular - latin */
@font-face {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/EB-Garamond.woff2') format('woff2'),
    url('/fonts/EB-Garamond.woff') format('woff');
}

/* Optimus Princeps */
@font-face {
  font-family: 'Optimus Princeps';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/OptimusPrincepsSemiBold.woff2') format('woff2'),
    url('/fonts/OptimusPrincepsSemiBold.woff') format('woff');
}

/* Atkinson Hyperlegible */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/Atkinson-HyperLegible-Regular.woff2') format('woff2'),
    url('/fonts/Atkinson-HyperLegible-Regular.woff') format('woff');
}
