/* fredoka-one-regular - latin */
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/fredoka-one-v12-latin-regular.woff2') format('woff2'),
    url('/fonts/fredoka-one-v12-latin-regular.woff') format('woff');
}

/* eb-garamond-regular - latin */
@font-face {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/EB-Garamond.woff2') format('woff2'),
    url('/fonts/EB-Garamond.woff') format('woff');
}

/* Optimus Princeps */
@font-face {
  font-family: 'Optimus Princeps';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/OptimusPrincepsSemiBold.woff2') format('woff2'),
    url('/fonts/OptimusPrincepsSemiBold.woff') format('woff');
}

/* Atkinson Hyperlegible */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/Atkinson-Hyperlegible-Regular.woff2') format('woff2'),
    url('/fonts/Atkinson-Hyperlegible-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Yakuza';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/yakuza.woff2') format('woff2'),
    url('/fonts/yakuza.woff') format('woff');
}

@font-face {
  font-family: 'Arial Black';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/Arial-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/Tahoma.woff2') format('woff2');
}

@font-face {
  font-family: 'NYT';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/nyt.woff2') format('woff2');
}

@font-face {
  font-family: 'Pixellari';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/Pixellari.woff2') format('woff2');
}

@font-face {
  font-family: 'Komika';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/Komika.woff2') format('woff2'),
    url('/fonts/Komika.woff') format('woff');
}

@font-face {
  font-family: 'Momo';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/Momo.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/SF-Pro-Display.woff2') format('woff2');
}

@font-face {
  font-family: 'Ember';
  font-style: normal;
  font-weight: 400;
  src: local('Amazon Ember'), url('/fonts/Ember.woff2') format('woff2');
}

@font-face {
  font-family: 'VCR OSD';
  font-style: normal;
  font-weight: 400;
  src: local('VCR OSD Mono'), url('/fonts/VCR-OSD-Mono.woff2') format('woff2');
}

@font-face {
  font-family: 'Netflix Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/Netflix-Sans.woff2') format('woff2');
}
